

.nav-bar {
    position: sticky;
    position: -webkit-sticky;
    z-index: 1000; /* Garante que a barra fique sobre outros elementos da página */
    background-color: #EDE7E3;
    height: 120px;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center; /* Centraliza verticalmente o conteúdo */
    justify-content: space-between; /* Dá espaço entre o logo e o menu */
    padding: 0 20px; /* Adiciona espaçamento nas laterais */
    
}

/* responsividade nav inicio*/

/* Estilo do botão de menu (hambúrguer) */
.menu-toggle {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Ocultar o menu completamente em telas menores */
@media (max-width: 767px) {
    .nav-pills {
        display: none !important; /* Usando !important para garantir que o menu seja oculto */
    }
    .menu-toggle {
        display: block;
    }
}

/* Exibir o menu em telas maiores */
@media (min-width: 768px) {
    .nav-pills {
        display: flex !important; /* Garantindo a exibição do menu em telas maiores */
    }
    .menu-toggle {
        display: none;
    }
}

/* Mostrar o menu quando a classe 'show' for adicionada */
.nav-pills.show {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    background-color: white;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1000;
}


/*responsividade nav fim*/


body {
    margin: 0; /* Remove a margem padrão do body */
    padding-top: 50px; /* Adiciona espaço no topo da página igual à altura da barra de navegação */
}

.nav-bar .logo {
    max-width: 150px; /* Define um tamanho máximo para o contêiner do logo */
    height: auto; 
   
}

.nav-bar .logo img {
    max-width: 100%; /* Garante que a imagem nunca exceda a largura do contêiner */
    height: auto; /* Mantém a proporção correta */
    display: block;
}

.nav-bar .nav {
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens da lista */
    justify-content: center; /* Centraliza os itens horizontalmente */
    flex: 1; /* Faz com que a lista ocupe todo o espaço restante */
    margin: 0; /* Remove margens indesejadas */
    padding: 0; /* Remove padding indesejado */
    list-style: none; /* Remove os marcadores da lista */
}

.nav-bar .nav-item {
    flex-grow: 1; /* Cada item de navegação ocupará uma largura uniforme */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Garante que os itens ocupem toda a altura da barra */
}

.nav-bar .nav-link {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%; /* Faz o link ocupar toda a área do item de navegação */
    height: 100%; /* Faz o link ocupar toda a altura do item */
    padding: 0 10px; /* Espaçamento interno para um layout mais espaçado */
    line-height: 50px; /* Centraliza verticalmente o texto dentro do link */
}






p{
    font-family: "Playfair Display", serif;
}

.renovacao-text{
    font-size: 30px;
    font-family: 'Tangerine', serif;
    color: #F7A637;
  
   
}


.nav-bar .nav-link {
    color:#1A2E35;
    text-decoration: none;
    font-size: larger;
    font-family: "DM Serif Text", serif;
    
}

.nav-bar .nav-link:hover{
    text-shadow: 4px 4px 4px #F7A637; 

}

.nav-bar p{
    font-size: 35px;
    
}


.carou {
    width: 100%; /* Garante que o container do carousel ocupe 100% da largura */
    overflow: hidden; /* Esconde qualquer transbordo */
}

.carousel-inner {
    width: 100%;
    max-width: 100%;
}

.carousel-item {
    width: 100%; /* Faz com que cada item ocupe 100% da largura da tela */
    background-size: cover; /* Faz com que a imagem de fundo cubra toda a área do item */
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px; /* Define uma altura mínima. Ajuste conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-carou {
    font-family: "Playfair Display", serif;
    padding-top: 70px;
    color: white;
    font-size: 77px;
    font-weight: bold;
    text-align: center;
    z-index: 2; /* Garante que o texto fique acima da imagem */
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adiciona uma camada de overlay */
    z-index: 1; /* Coloca o overlay abaixo do texto */
}

.QuemSomos{
    background-color: #1A2E35;
} 


.QuemSomos .mb-4{
    font-family: "Playfair Display", serif;
    color:#EDE7E3 ;
}



.container-xxl .text-descricao {
    color:#EDE7E3 ;
    font-family: "Playfair Display", serif;
    font-size: large;
    

}

.col-lg-6  .btn-agende {

    margin-top: 50px;
    width: 260px;
    margin-left: 97px;

    background-color: #F7A637;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: background 0.3s ease;
    transition: color 0.3s ease;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px){
    .col-lg-6  .btn-agende{
        margin-left: 30px;
    }
}


.col-lg-6  .btn-agende:hover{
    background: linear-gradient(45deg, #F7A637, #113346);
    
}

.container-xxl .btn-agende::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FAF3E0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.container-xxl .btn-agende:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}





@keyframes shadow-pulse {
    0%, 100% {
        text-shadow: 0 0 5px #F7A637, 0 0 10px #ff0000, 0 0 15px #113346;
    }
    50% {
        text-shadow: 0 0 10px #ff4500, 0 0 20px #113346, 0 0 30px #F7A637;
    }
}



/* especialidades    */

.col-md-6 {
    cursor: pointer;
   
}

/* Efeito hover: mudar a cor da borda e do fundo */
.col-md-6:hover {
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho do elemento */
}
    

.service-item {
    transition: transform 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
    border: 4px solid #113346; /* Define a borda com a cor desejada */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
}

.service-item:hover {
    border-color: #F7A637; /* Muda a cor da borda ao passar o mouse */
    background-color: #e5e5e5; /* Muda a cor de fundo ao passar o mouse */
}





.service-item .line-dec,
.service-item p {
    display: none;
}

.textoEspe{
    padding: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border: 8px solid;
    border-image: linear-gradient(to right, #F7A637, #113346) 1;
}

.textoEspe .textEspe {
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px #000, 2px 2px 5px #555, 3px 3px 8px #aaa;
    font-size: 40px;
    font-family: "Playfair Display", serif;
    background-color: #1A2E35;
    margin-bottom: 0%;   

}

.textEspe {
    opacity: 0;
    transform:  translateY(20px) scale(0.8); /* Inicia diminuído */
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.textEspe.visible{
    opacity: 1;
    transform:  translateY(0)  scale(1); /* Cresce para o tamanho original  */
}






.services-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 800px;
    width: 100%;
}

.service-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    position: relative;

}

.service-box h3 {
    margin: 0 0 10px;
}

.service-box .more-info {
    display: block;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.service-box .service-info {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.service-content .na-clinica {
    font-family: "Playfair Display", serif; 
    font-size: 18px;
}

.service-content .left-text{
    font-family: "Playfair Display", serif; 
}


/* galeria */ 

.galeria .side-galeria{
    left: 0%;

}

.galeria .botao-galeria{
    display: block;
    padding: 16px;
}


/* testando */

.service-item {
    opacity: 0;
    transform: translateX(20px); /* Desloca o texto para baixo */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.service-item.visible {
    opacity: 1;
    transform: translateX(0); /* Retorna o texto à posição original */
}



.service-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15vh;
    
    background-attachment: fixed;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    background-color: #F2F2F2;
  }
  
  .service-content .left-text h4 {
    font-size: 24px;
    font-weight: 500;
    color: #1A2E35;
  }
  
  h4, .h4 {
    font-size: 18px;
  }
  
  .service-content .left-text .line-dec {
    width: 45px;
    height: 3px;
    background-color: #ff7d27;
    margin: 20px 0px 20px 0px;
  }
  
  .service-content .left-text p {
    color: #1A2E35;
  }
  
  .service-content .left-text ul {
    padding: 0;
    margin-top: 30px;
    list-style: none;
  }
  
  .service-content .left-text ul li {
    margin: 15px 0px;
    font-weight: 600;
    color: #1A2E35;
  }
  
  
  
  .service-content .service-item {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    
  }
  
  .service-content .service-item .line-dec {
    width: 45px;
    height: 3px;
    background-color: #ff7d27;
    margin: 20px auto 15px auto;
  }

 
 

  .primary-button .btn-agende{
    background-color: #F7A637;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: background 0.3s ease;
    transition: color 0.3s ease;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.4);
    align-items: center;
    margin-bottom: 10px;
    margin-left: 45%;
    
}

@media (max-width: 768px) {
    .primary-button .btn-agende{
        margin-left: 65px;
    }
}

.primary-button .btn-agende:hover{
    background: linear-gradient(45deg, #F7A637, #113346);
    
}

.primary-button .btn-agende::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FAF3E0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.primary-button .btn-agende:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* galeria */

.hexagon {
    opacity: 0;
    transform: translateY(20px); /* Desloca o texto para baixo */
    transition: opacity 2s ease-out, transform 2s ease-out;
}
.hexagon.visible{
    opacity: 1;
    transform: translateY(0); /* Retorna o texto à posição original */
}



.galeria-tex {
   
    background-color:#1A2E35;
    padding: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border: 8px solid;
    border-image: linear-gradient(to left, #F7A637, #113346) 1;
    
}

.galeria-tex h2 {
    font-family: "DM Serif Text", serif;
    color:#EDE7E3 ;
    text-align: center;
}

.galeria-tex p {
    font-family: "Rajdhani";
    color:#EDE7E3 ;
    margin-left: 40px;
    margin-right: 40px;
    font-size: large;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre os hexágonos */
    justify-content: center; /* Centraliza a galeria */
    background-color: #1A2E35;
}

.hexagon {
    width: 250px;
    height: 230px;
    position: relative;
    clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
    overflow: hidden; /* Esconde qualquer parte da imagem que ultrapasse os limites do hexágono */
    cursor: pointer;
}

.hexagon img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem se ajuste ao tamanho da div sem distorção */
    object-position: center; /* Centraliza a imagem dentro do hexágono */
    transition: transform 0.3s ease;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.expanded-img {
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

/* pro-equipe inicio*/
.pro-equipe{
    width: 100%;
    height: auto;
    background-color: #F2F2F2 ;
}

.pro-equipe-descricao{

    background-color:#F2F2F2 ;
    padding: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border: 8px solid;
    border-image: linear-gradient(to right, #F7A637, #113346) 1;
    width: 100%;
    height: auto;
}

.pro-equipe-descricao h2 {
    font-weight: bold;
    text-align: center;
    color: #113346;
    text-shadow: 1px 1px 2px #000, 2px 2px 5px #555, 3px 3px 8px #aaa;
    font-size: 40px;
    font-family: "Playfair Display", serif;
    background-color: #F2F2F2;
    margin-bottom: 10px; 
}

.pro-equipe-descricao p{
    font-family: "Playfair Display", serif;
    font-size:larger;
    font-weight: bold;
}

.pro-equipe-botao {
    display: inline-block;
    font-family: "Playfair Display", serif;
    border-radius: 7px;
    background-color: #113346;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 40%;
  }
  
  .pro-equipe-botao span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .pro-equipe-botao span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .pro-equipe-botao:hover span {
    padding-right: 25px;
  }
  
  .pro-equipe-botao:hover span:after {
    opacity: 1;
    right: 0;
  }

  @media (max-width: 768px){
    .pro-equipe-botao {
        align-items: center;
        margin-left: 21%;
    }
  }



/*pro-equipe fim*/

/*depoimentos iniciio*/

.depoimentos{
    height: 800px;
    width: 100%;
    background-color:#113346;
    
}

.depoimentos-container{

    justify-content: space-between; /* Distribui os itens igualmente */
    align-items: center; /* Alinha os itens no centro verticalmente */
    gap: 8px; /* Espaçamento entre os itens */
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 200px 200px ;
    justify-content: space-around;

}
.depoimentos-container .card{
    flex: 1; /* Faz com que cada item ocupe a mesma quantidade de espaço */
    text-align: center; /* Centraliza o conteúdo dentro do item */
}

@media (max-width: 768px){
    .depoimentos-container .card{
        align-items: center;
        text-align: center;
        margin-left: 13px;
    }
}


.depoimentos h2 {

    font-weight: bold;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px #000, 2px 2px 5px #555, 3px 3px 8px #aaa;
    font-size: 40px;
    font-family: "Playfair Display", serif;
    margin-bottom: 30px; 
    padding-top: 20px;

}



/*depoimentos fim*/

/* Responsividade depoimentos */
@media (max-width: 768px) {
    /* Ajuste a altura da seção para telas menores */
    .depoimentos {
        height: auto; /* Altura automática para ajustar ao conteúdo */
        padding: 20px 0;
    }

    /* Ajusta o grid para duas colunas em tablets e telas médias */
    .depoimentos-container {
        grid-template-columns: 1fr 1fr;
        gap: 10px; /* Espaçamento aumentado para telas menores */
    }

    /* Ajusta o tamanho do texto do título para telas menores */
    .depoimentos h2 {
        font-size: 30px; /* Reduz o tamanho da fonte */
    }
}

@media (max-width: 480px) {
    /* Ajusta o grid para uma coluna em celulares */
    .depoimentos-container {
        grid-template-columns: 1fr; /* Coloca os itens em uma única coluna */
        justify-content: center; /* Centraliza os itens */
        gap: 15px; /* Espaçamento adicional entre os itens */
    }

    /* Ajusta o tamanho do texto do título para telas pequenas */
    .depoimentos h2 {
        font-size: 24px; /* Reduz ainda mais o tamanho da fonte */
        margin-bottom: 20px; /* Reduz o espaçamento inferior */
    }
}

/*responsividade depoimentos*/

/* rodape inicio*/

.rodape{
    width: 100%;
    height: auto;
    background-color:#F2F2F2 ;
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.rodape{
    background-color:#F2F2F2 ;
    padding: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border: 8px solid;
    border-image: linear-gradient(to right, #F7A637, #113346) 1;
    width: 100%;
    height: auto;
    background: linear-gradient(120deg, #113346 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, #F7A637 90%);
}

.rodape h4{
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px #000, 2px 2px 5px #555, 3px 3px 8px #aaa;
    font-size: 40px;
    font-family: "Playfair Display", serif;
    margin-bottom: 30px; 
    padding-top: 20px;
}

.rodape p {
    font-family: "Playfair Display", serif;
    color: #F2F2F2 ;
    font-weight: bold;
}

/*rodape fim */


/* Responsividade */
@media (max-width: 768px) {
    .rodape {
        flex-direction: column; /* Alinha os itens em coluna em telas menores */
        align-items: center; /* Centraliza os itens */
        padding: 20px; /* Aumenta o espaçamento interno */
    }

    .rodape h4 {
        font-size: 30px; /* Reduz o tamanho da fonte para telas menores */
        margin-bottom: 20px; /* Reduz o espaçamento inferior */
    }
}

@media (max-width: 480px) {
    .rodape h4 {
        font-size: 24px; /* Reduz ainda mais o tamanho da fonte para telas muito pequenas */
        margin-bottom: 15px; /* Reduz o espaçamento inferior */
    }
}


